<section class="cta-block">
  <div class="container cta-block-inner">
    <h2><%= ctaTitle %></h2>
    <p><%= ctaText %></p>
    <a href="<%= ctaUrl %>" class="btn-primary btn-large"><%= ctaLabel %></a>
  </div>
</section>
